
.click{
    display: inline-block;
    height: 50px; 
    width: 50px;
    text-align: center;
    line-height: 50px;
    margin: 2px 2px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(152, 162, 173);
}
.click:hover{
    opacity: 0.6;
}
.click:active{
    background-color: blueviolet;
}